<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Start</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li ng-class="{active: $state.includes('sites')}">
                    <a ui-sref="sites">Sites</a>
                </li>

                <li ng-class="{active: $state.includes('streams')}">
                    <a ui-sref="streams">Streams</a>
                </li>

                <!--voorbeeldje met subnavigatie-->

                <!--<li ng-class="{active: $state.includes('admin.shop')}">-->

                <!--<a href=""><i class="class fa fa-gear"></i> Shop</a>-->
                <!--<ul class="nav nav-second-level" ng-class="{in: $state.includes('admin.shop')}">-->
                    <!--<li ui-sref-active="active">-->
                        <!--<a ui-sref="admin.shop.categories">Categories</a>-->
                        <!--</li>-->
                    <!--<li ui-sref-active="active">-->
                        <!--<a ui-sref="admin.shop.brands">Brands</a>-->
                        <!--</li>-->
                    <!--<li ui-sref-active="active">-->
                        <!--<a ui-sref="admin.shop.products">Products</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
        </div><!-- /.navbar-collapse -->

    </div>
</nav>
